<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALPR Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>ALPR Application</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('batch_processing') }}">Batch Processing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('real_time_processing') }}">Real-time Processing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('clean') }}">Clean</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
