{% extends "index.html" %}
{% block content %}
<h2>Real-time Processing</h2>

<div id="videoContainer">
    <img src="" alt="Video Feed" style="width:100%; display:none;">
</div>

<button id="startButton" class="btn btn-primary">Start Real-time Processing</button>
<button id="stopButton" class="btn btn-danger">Stop Real-time Processing</button>

<script>
    const videoContainer = document.getElementById('videoContainer');
    const video = document.querySelector("#videoContainer img");
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');

    startButton.addEventListener('click', function() {
        fetch('/start_camera')
            .then(() => {
                video.src = "{{ url_for('video_feed') }}";
                video.style.display = 'block';
            })
            .catch(err => console.error('Error starting camera:', err));
    });

    stopButton.addEventListener('click', function() {
        fetch('/stop_camera')
            .then(() => {
                video.src = "";
                video.style.display = 'none';
            })
            .catch(err => console.error('Error stopping camera:', err));
    });
</script>

{% endblock %}
